{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg" style="background:rgba(40,57,101);">
  <a class="navbar-brand" href="{{ url_for('index') }}" style="color: white"> <img src="{{ url_for('static', filename='book.svg') }}" alt="icon" id="book-icon">Book Reviewee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if session %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('search') }}" style="color:white;">Search</a>
        </li>
      {% endif %}
    </ul>
  </div>
  <div class="topnac-right">
    {% if session is none %}
      <a class="btn btn-outline-light topnav-right" href="{{ url_for('login') }}" name="button"> Sign in</a>
    {% else %}
      <a class="btn btn-outline-light topnav-right" href="{{ url_for('logout') }}" name="button"> logout</a>
    {% endif %}
  </div>

</nav>
{% endblock %}
{% block body %}
  <div class="row" style="padding: 5%;">
    <div class="card" style=" padding: 20px; width: 100%;">
      <div class="" style="padding: 20px;">
        <h3>Book Reviewee</h3>
        <hr style="padding: 10px;">
      </div>
      <div class="usage" style="padding: 20px;">
        <h4>APP Usage</h4>
        <div class="" style="background:#F7F8FA;">
          <p style="padding: 20px;">Log in or Sign up <br>
            Search for books by using keywords: <br>
              <i style="margin-left: 10px; color: grey">Title, Author's name or isbn</i>
              <br>
            Share some intuitions about your favorite book.
          </p>
        </div>
      </div>
      <div class="obj" style="padding: 20px;">
        <h4>Objectives</h4>
        <div class="" style="background:#F7F8FA;">
          <p style="padding: 20px;">

              Search for books to read <br>
              Review books afterwards <br>
              Database has more than 5000 different book
          </p>

        </div>
      </div>
      <div class="api" style="padding: 20px;">
        <h4>API Usage</h4>
        <div class="" style="padding: 20px; background:#F7F8FA;">
          <p style="">You can access the API as the following: </p>
          <p style="margin-left: 20px;">Method: <span style="color:grey;">GET
            <a href="/book/api/1401902790" style="margin-left: 15px; color: grey">/book/api/isbn</a>
          </span> <br>
          provide book's isbn at the end of route
          </p>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
